<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>{{isLogging ? 'Login' : 'Registration'}}</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field class="full-width-input">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="form.invalid">{{isLogging ? 'Login' : 'Register'}}</button>
    </form>
  </mat-card-content>
</mat-card>
